<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="login" class="login-form">
	<div class="control-group">
		<div class="controls">
			<label for="username">Login</label>
			<input type="text" id="username" name="username" class="input-xlarge"
				placeholder="Enter Username" required>
		</div><!-- controls -->
	</div><!-- control-group -->
	<div class="control-group">
		<div class="controls">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="input-xlarge"
				placeholder="Enter Password" required>
		</div><!-- controls -->
	</div> <!-- control-group -->
	<p>
		<input type="submit" value="Sign In">
	</p>
</form>
{% endblock %}